<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        <li>&copy; GBAF 2020</li>
                        <li><a href="#">Mentions légales</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
