
/* GLOBAL */

a{
  text-decoration:none;
  color: rgba(0, 0, 0);
  transition:color 0.3s;
  text-transform: uppercase;
  font-weight: 900;
}
a:hover{
  color:rgba(0, 0, 0, 0.8);
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #333333;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

/* HEADER */

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 5px solid #FF0000;
  background-image: url(../img/home.jpg);
  background-size: cover;
}

.mh-logo:hover {
  opacity: 0.8;
}

.main-nav ul {
  margin: 1em 0 .5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: .5em 1.5em;
}
.main-nav .icon {
  width: 20px;
  margin-right: .5em;
}

.main-nav a:hover {
  opacity: 0.8;
}

/* HOME */

@media (min-width: 768px) {
  .actor-container {
    justify-content: space-between;
  }
}

.actor-container {
  background-color: #ededed;
  border-style: solid;
  border-color: #333333;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.actor-title {
  width: 25%;
  margin: 5px;
}

.actor-subcontent {
  margin: 5px;
  width: 75%;
}

.logoActor {
  width: 150px;
  border-radius: 20px;
}

.opinion {
  background-color: lightgray;
  border-style: solid;
  border-color: grey;
  margin: 10px;
  padding: 10px;
}

/* FOOTER */

footer .container {
  background-color: #FF0000;
}

footer li {
  color: white;
  font-weight: 900;
}

footer a {
  color: white;
}