{% extends "base.html" %}

{% set heading = user ? 'Modifiez vos informations personnelles' : 'Créez votre compte' %}
{% set route = user ? 'editAccount' : 'register' %}
{% set submit = user ? 'Modifier' : 'Inscription' %}
{% set name = user and user.name ? user.name : '' %}
{% set firstName = user and user.firstName ? user.firstName : '' %}
{% set username = user and user.username ? user.username : '' %}
{% set question = user and user.question ? user.question : '' %}
{% set response = user and user.response ? user.response : '' %}


{% block title %}{{heading}}{% endblock %}

{% block content %}

<h2>{{heading}}</h2>
<div>
    <form method="post" action="../public/index.php?route={{route}}">
        <label for="name">Nom</label><br>
        <input type="text" id="name" name="name" value="{{name}}" ><br>
        <div class="error">{{errors.name ? errors.name }}</div>
        <label for="firstName">Prénom</label><br>
        <input type="text" id="firstName" name="firstName" value="{{firstName}}"><br>
        <div class="error">{{errors.firstName ? errors.firstName }}</div>
        <label for="username">Nom d'utilisateur</label><br>
        <input type="text" id="username" name="username" value="{{username}}"><br>
        <div class="error">{{errors.username ? errors.username }}</div>

        {% if user is not defined %}
        <label for="password">Mot de passe</label><br>
        <input type="password" id="password" name="password" value="{{password}}"><br>
        <div class="error">{{errors.password ? errors.password }}</div>
        {% endif %}

        <label for="question">Question secrète</label><br>
        <input type="text" id="question" name="question" value="{{question}}"><br>
        <div class="error">{{errors.question ? errors.question }}</div>
        <label for="response">Réponse à la question secrète</label><br>
        <input type="text" id="response" name="response" value="{{response}}"><br>
        <div class="error">{{errors.response ? errors.response }}</div>
        <input type="submit" value="{{submit}}" id="submit" name="submit">
    </form>
</div>
{% if user %}
<a href="../public/index.php?route=myAccount">Retour à mon compte</a>
<a href="../public/index.php?route=editPassword">Modifier le mot de passe</a>
{% else %}
<a href="../public/index.php?route=login">Déjà inscrit ? Connectez-vous</a>
{% endif %}
{% endblock %}