{% extends "base.html" %}

{% set heading = user ? 'Modifiez vos informations personnelles' : 'Créez votre compte' %}
{% set route = user ? 'editAccount' : 'register' %}
{% set submit = user ? 'Modifier' : 'Inscription' %}
{% set name = user and user.name ? user.name : '' %}
{% set firstName = user and user.firstName ? user.firstName : '' %}
{% set username = user and user.username ? user.username : '' %}
{% set question = user and user.question ? user.question : '' %}
{% set response = user and user.response ? user.response : '' %}


{% block title %}{{heading}}{% endblock %}

{% block content %}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">{{heading}}</h2>
                <form method="POST" class="register-form" id="register-form" action="../public/index.php?route={{route}}">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account"></i></label>
                        <input type="text" name="name" id="name" value="{{name}}" placeholder="Votre nom"/>
                        <div class="error">{{errors.name ? errors.name }}</div>
                    </div>
                    <div class="form-group">
                        <label for="firstName"><i class="zmdi zmdi-account-o"></i></label>
                        <input type="text" name="firstName" id="firstName" value="{{firstName}}" placeholder="Votre prénom"/>
                        <div class="error">{{errors.firstName ? errors.firstName }}</div>
                    </div>
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account-circle"></i></label>
                        <input type="text" name="username" id="username" value="{{username}}" placeholder="Votre nom d'utilisateur"/>
                        <div class="error">{{errors.username ? errors.username }}</div>
                    </div>
                    {% if user is not defined %}
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password" value="{{password}}" placeholder="Votre mot de passe"/>
                        <div class="error">{{errors.password ? errors.password }}</div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="question"><i class="zmdi zmdi-account-box"></i></label>
                        <input type="text" name="question" id="question" value="{{question}}" placeholder="Votre question secrète"/>
                        <div class="error">{{errors.question ? errors.question }}</div>
                    </div>
                    <div class="form-group">
                        <label for="response"><i class="zmdi zmdi-account-box-o"></i></label>
                        <input type="text" name="response" id="response" value="{{response}}" placeholder="Réponse à votre question secrète"/>
                        <div class="error">{{errors.response ? errors.response }}</div>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="submit" id="signup" class="form-submit" value="{{submit}}"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                {% if user %}
                <figure><img src="img/account-image.jpg" alt="sing up image"></figure>
                <a href="../public/index.php?route=myAccount">Retour à mon compte</a>
                <a href="../public/index.php?route=editPassword">Modifier le mot de passe</a>
                {% else %}
                <figure><img src="img/register-image.jpg" alt="sing up image"></figure>
                <a href="../public/index.php?route=login">Déjà inscrit ? Connectez-vous</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}