<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
<div class="header">
<a href="../public/index.php"><img class="logo" src="../public/img/gbaf-logo.png" alt="GBAF"></a>

    {% if session.get('id_user') %}

<a href="../public/index.php?route=logout"><img class="icon" src="../public/icon/logout.png" alt="Déconnexion">Déconnexion</a>
<a href="../public/index.php?route=myAccount"><img class="icon" src="../public/icon/user.png" alt="Déconnexion">{{session.get('username')}}</a>

    {% endif %}
</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<div class="footer">FOOTER</div>

</body>
</html>