{% extends "base.html" %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}


<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="img/edit-pass.jpg" alt="Modifier votre mot de passe"></figure>
                    <a href="../public/index.php?route=myAccount" class="signup-image-link">Retour à votre compte</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Modifier votre mot de passe</h2>
                    <div class="error">{{ errors.connexion }}</div>
                    <form method="POST" class="register-form" id="login-form" action="../public/index.php?route=editPassword">
                        <div class="form-group">
                            <label for="password-old"><i class="zmdi zmdi-lock material-icons-name"></i></label>
                            <input type="password" name="password-old" id="password-old" placeholder="Votre ancien mot de passe"/>
                            <div class="error">{{errors.password_old ? errors.password_old}}</div>
                        </div>
                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="password" id="password" placeholder="Nouveau mot de passe"/>
                            <div class="error">{{errors.password ? errors.password }}</div>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Modifier le mot de passe"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}