{% extends "base.html" %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}



<h2>Modifier votre mot de passe</h2>

<div>
    <form method="post" action="../public/index.php?route=editPassword">
        <label for="password-old">Ancien mot de passe</label><br>
        <input type="password" id="password-old" name="password-old"><br>
        <div class="error">{{errors.password_old ? errors.password_old}}</div>
        <label for="password">Nouveau mot de passe</label><br>
        <input type="password" id="password" name="password"><br>
        <div class="error">{{errors.password ? errors.password }}</div>
        <input type="submit" value="Modifier le mot de passe" id="submit" name="submit">
    </form>
</div>

<a href="../public/index.php?route=myAccount">Retour à mon compte</a>
{% endblock %}