{% extends "base.html" %}

{% block title %}Vos informations personnelles{% endblock %}

{% block content %}


<h2>Vos informations personnelles</h2>
<div class="session">
    {{ session.show('edit_account') }}
    {{ session.show('edit_password') }}
    {{ session.show('delete_account') }}
</div>
<div class="personnal-info">
    <div class="container" >
        <h4>Nom : </h4>
        <p>{{ user.name }}</p>
        <h4>Prénom : </h4>
        <p>{{ user.firstName }}</p>
        <h4>Nom d'utilisateur : </h4>
        <p>{{ user.username }}</p>
    </div>
    <div class="container" >
        <a class="small button" href="../public/index.php?route=editAccount">Modifier vos informations personnelles</a>
        <a class="small button" href="../public/index.php?route=editPassword">Modifier le mot de passe</a>
        <a class="small button" href="../public/index.php?route=deleteAccount"  onclick="return  confirm('Etes-vous sur de vouloir supprimer votre compte ?')">Supprimer le compte</a>
    </div>
</div>
<a class="nav-link" href="../public/index.php">Retour à l'accueil</a>

{% endblock %}